pycurl==7.45.2
pygeohash==1.2.0
websocket-client
numpy==1.26.4
pandas==2.2.1
scipy==1.12.0
localization==0.1.7
matplotlib==3.8.3
python-dotenv==1.0.1
influxdb_client==1.41.0
shapely==2.0.3
mongoengine==0.28.2
requests==2.31.0
Pillow==10.2.0
deepdiff==6.7.1